/* Footer.css */
.footer {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  
  .left p,
  .right p {
    margin: 5px;
    padding: auto;
  }
  
  .right p {
    text-decoration: underline;
  }
  
  .separator {
    margin: 0 10px;
  }
  